<div class="logs-content">
    <p class="hint centered">{{localize "TAVERN.Logs.PrivacyNote"}}</p>
    {{#if privateLogs}}
    {{#each privateLogs}}
    <div class="log-entry {{this.type}}">
        <div class="log-meta">
            <span class="log-icon"><i class="{{this.icon}}"></i></span>
            <span class="log-time">{{this.timeAgo}}</span>
        </div>
        <div class="log-details">
            <div class="log-title">{{this.title}}</div>
            <div class="log-message">{{this.message}}</div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="no-logs">
        <em>{{localize "TAVERN.Logs.Empty"}}</em>
    </div>
    {{/if}}
</div>
